:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
  height: 100vh;
}

.no-btn {
  padding: 0;
  margin: 0;
  display: flex;
}

#info-panel {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#info-panel *:first-child {
  margin-left: auto;
}

.element {
  display: flex;
  gap: 4px;
}

.element .img {
  width: 30px;
  height: 30px;
  background-image: url(/img/mine.svg);
  background-size: 100% 100%;
}

#flags {
  font-size: 20px;
}

#mines-input {
  font-size: 20px;
  width: 55px;
}

#start-btn {
  font-size: 16px;
  padding: 4px;
}

#sound-box {
  margin-left: auto;
}

#sound {
  padding: 2px;
  border: 1px solid black;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}